* {
	box-sizing: border-box;
	margin: 0;
	font-family: sans-serif;
}

#root {
	height: 100vh;
	display: flex;
	align-items: center;
}

.App {
	border: 1px solid gray;
	width: 400px;
	height: 450px;
  text-align: center;
	padding: 5px;
	margin: 0 auto;
}

.todo_addForm * {
	width: 350px;
	border: 2px solid rgb(185, 185, 185);
	border-radius: 4px;
	margin-top: 10px;
}

.todo_addForm #todo_title {
	height: 50px;
	margin-bottom: 3px;
	font-size: 20px;
}

.todo_addForm #todo_description {
	height: 100px;
}

.todo_addForm #todo_title,
.todo_addForm #todo_description {
	padding-left: 15px;
}

.todo_addForm button {
	background-color: rgb(219, 255, 164);
	height: 30px;
	border: none;
	margin-bottom: 15px;
	font-weight: 700;
}

.task {
	width: 350px;
	border: 2px solid greenyellow;
	border-radius: 5px;
	margin: 5px auto;
	position: relative;
}

.delbtn {
	border: none;
	background-color: navajowhite;
	position: absolute;
	top: 5px;
	right: 5px;
	font-weight: 700;
}

a,
a:visited {
	text-decoration: none;
	color: black;
}